@model CatchMeIfYouCan.Models.Session

@{
    ViewBag.Title = "Session Details";
}
<style>
    .details-text{
        font-size: 20px;
    }
    dt, dd{
        display:inline;
    }
    img{
        width:10%;
        margin-right: 20px;
    }
</style>

<h2>Session Details</h2>

<div>
    <hr />
    <dl class="details-text">
        <img src="~/Content/Photos/icon-runner.png" />     
        <dt>
            @Html.DisplayNameFor(model => model.RunnerName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunnerName)
        </dd>
        <br />
        <img src="~/Content/Photos/icon-distance.png" />     
        <dt>
            @Html.DisplayNameFor(model => model.Distance):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance) km
        </dd>
        <br />

        <img src="~/Content/Photos/icon-date.png" />     
        <dt>Date: </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <br />
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
